body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.side-panel-chart {
    height: 500px;
}

.circle {
    border-radius: 50%;
    width: 12px;
    height: 12px;
    background-color: #3ea5f1;
    margin-right: 5px;
}

.marker {
    border-radius: 2px;
    box-shadow: 0px 1px 4px -1px rgba(0, 0, 0, 0.3);
    background: #fff;
    padding: 5px 7px;
    font-size: 14px;
    cursor: pointer;
    display: flex;
    align-items: center;
}

.toggle {
    padding: 5px 7px;
    font-size: 25;
    font-weight: normal;
}

.slider {
    padding: 10px 15px;
    font-size: 25;
    font-weight: normal;
}

.tweet-writer {
    font-weight: bold;
}

.tweet {
    border-bottom: 1px solid #bce8f1;
    padding-bottom: 8px;
    padding-top: 8px;
}

.tweet:first-child {
    padding-top: 0;
}

.tweet:last-child {
    border: 0;
}
